/* CSS configs for font styles at richtext field */
.cq-RichText-editable {font-size: 16px; line-height: 24px;}
.cq-RichText-editable .font-size-12 {font-size: 12px; line-height: 18px;}
.cq-RichText-editable .font-size-14 {font-size: 14px; line-height: 20px;}
.cq-RichText-editable .font-size-16 {font-size: 16px; line-height: 24px;}
.cq-RichText-editable .font-size-20 {font-size: 20px; line-height: 28px;}
.cq-RichText-editable .font-size-24 {font-size: 24px; line-height: 28px;}
.cq-RichText-editable .font-size-28 {font-size: 28px; line-height: 32px;}
.cq-RichText-editable .font-size-32 {font-size: 32px; line-height: 46px;}
.cq-RichText-editable .font-size-40 {font-size: 40px; line-height: 48px;}
.cq-RichText-editable .font-size-48 {font-size: 48px; line-height: 56px;}
.cq-RichText-editable .font-size-56 {font-size: 56px; line-height: 64px;}

/* CSS configs for reusable padding fields on basic tab */
.dialog-paddingFieldSet {height: 64px;}
.dialog-paddingField {text-align: center; width: 100px !important; position: absolute;}
.dialog-paddingField-Top {margin-top: 0px !important; margin-left: calc(50% - 50px) !important;}
.dialog-paddingField-Right {margin-top: 20px !important; margin-left: calc(50% + 64px) !important;}
.dialog-paddingField-Bottom {margin-top: 40px !important; margin-left: calc(50% - 50px) !important;}
.dialog-paddingField-Left {margin-top: 20px !important; margin-left: calc(50% - 164px) !important;}